<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center mt-3">Add a new Watchlist</h1>
    <div class="col-6">
      <%= render 'form', list: @list %>
    </div>
  </div>
</div>
